<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771566350646-fonpigp18j8u5aduc3t5agijvjuc9se4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771566350646-fonpigp18j8u5aduc3t5agijvjuc9se4</string>
	<key>API_KEY</key>
	<string>AIzaSyDQlWReNp-CiG8D6E5u52jNszvAMJhr7Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>771566350646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentpulse.studentPulse</string>
	<key>PROJECT_ID</key>
	<string>student-pulse-ecbc9</string>
	<key>STORAGE_BUCKET</key>
	<string>student-pulse-ecbc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771566350646:ios:ad0cc97b353cd111fac397</string>
</dict>
</plist>